<div class="w-full h-[100px] bg-white shadow-[0px_2px_2px_0px_#0000001A] flex items-center justify-center relative px-[50px]">

    <div class="w-(--container-teddy) grid grid-cols-3 ">

        <div class="sidebar absolute left-[46px] absolute-transform">
            <app-sidebar />
        </div>

        <div class="logo">
            <img class="max-w-[100px] max-h-[49px]" src="/logo.png" alt="logo">
        </div>
        
        <div class="links flex justify-center">
            <ul class="flex justify-center items-center gap-[33px]">
                <li>
                    Clientes
                </li>
                <li>
                    Clientes Selecionados
                </li>
                <li>Sair</li>
            </ul>
        </div>


        <div class="info flex justify-end items-center">

            <p>Ola, <strong>Usuario</strong> </p>

        </div>
        
    </div>

</div>
