<div class="w-full bg-white flex justify-center shadow-[0px_2px_2px_0px_#0000001A] ">
    <div class="w-(--container-teddy) h-[100px] flex items-center justify-between relative">

        <div class="flex w-full justify-center md:grid md:grid-cols-3 grid-cols-1">
    
            <div class="sidebar absolute left-[0] absolute-transform">
                <app-sidebar />
            </div>
    
            <div class="logo ml-12 ml:m-0">
               <a routerLink="/">
                <img class="max-w-[100px] max-h-[49px]" src="/logo.png" alt="logo">
               </a> 
            </div>
            
            <div class="hidden lg:flex lg:items-center lg:gap-8">
                <nav>
                    <ul class="flex gap-4 md:gap-6 lg:gap-8">
                        <li class="text-sm md:text-base lg:text-lg"> 
                            <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" >Clientes</a> 
                        </li>
                        <li class="text-sm md:text-base lg:text-lg"> 
                            <a routerLink="/dashboard/selected-clients" routerLinkActive="active" ariaCurrentWhenActive="page" >Clientes Selecionados</a> 
                        </li>
                        <li class="text-sm md:text-base lg:text-lg"> Sair</li>
                    </ul>
                </nav>
                
            </div>
    
        
    
        <!-- Informações do usuário -->
        <div class="hidden lg:flex lg:items-center lg:justify-end lg:gap-2">
            <p class="text-sm md:text-base lg:text-lg">Olá, <strong>Usuário</strong></p>
        </div>
    
    
    </div>
</div>
