<div class="fixed inset-0 bg-black opacity-30 flex items-center justify-center" *ngIf="modalService.isModalOpen()" (click)="modalService.closeModal()">

</div>
<div class="bg-white absolute absolute-transform-center p-5 rounded-lg shadow-lg w-[400px] h-auto" *ngIf="modalService.isModalOpen()">
    <div class="flex flex-col justify-between items-center mb-4">
        <h2 class="w-full text-left text-xl font-bold pb-4">
            {{ modalService.form().title }}:
        </h2>

        <app-form-action class="w-full" [type]="modalService.form" />
    </div>
    
</div>