@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif; 
  --container-teddy: 1440px
}

.absolute-transform{
  top: 50%;
  transform: translateY(-50%);
}

.absolute-transform-center{
  left: 50%;
  transform: translateX(-50%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
