
<div class="w-full flex flex-col items-center py-8 bg-[#D9D9D9]">
    <div class="w-full lg:w-(--container-teddy)">
        <div class="flex flex-col gap-2.5">
            <!-- Filtros -->
            <div class="filter-options flex flex-col sm:flex-row justify-between items-center gap-4 sm:gap-0">
                <span class="text-sm sm:text-base"><strong>{{ $clientsTotal | async }}</strong> clientes encontrados</span>
                <div class="flex items-center gap-2">
                    <p class="text-sm sm:text-base">Clientes por página:</p>
                    <select class="p-1 border border-gray-300 rounded">
                        <option value="16">16</option>
                    </select>
                </div>
            </div>

            <!-- Grid de Clientes -->
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
                <ng-container *ngIf="$isUpdating | async; then loadingClients else clientList"></ng-container>

                <ng-container *ngIf="$clientsTotal | async as total; else loadingClients">
                    <ng-container *ngIf="total === 0;">
                        <span class="text-center text-gray-500">Sem clientes para mostrar :(</span>
                    </ng-container>
                </ng-container>

                <ng-template #loadingClients>
                    <app-loading></app-loading>
                    <app-loading></app-loading>
                    <app-loading></app-loading>
                    <app-loading></app-loading>
                </ng-template>

                <ng-template #clientList>
                    <app-card *ngFor="let client of clients$ | async" [client]="client"></app-card>
                </ng-template>
            </div>

            <!-- Botão de Criar Cliente -->
            <div class="flex justify-center">
                <button (click)="handleCreateClient()" class="mt-4 px-4 py-2 rounded-sm border-2 border-[#EC6724] text-[#EC6724] font-bold text-sm hover:bg-[#EC6724] hover:text-white transition-colors">
                    Criar cliente
                </button>
            </div>
        </div>
    </div>
</div>

<app-modal />